@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

:root {
    --primary-colour: #010a43;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font: 100% "Roboto", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

select,
option,
input,
button {
    font-family: inherit;
}

.back-link {
    position: absolute;
    top: 5em;
    left: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 500px;
    padding: 20px;
}

.money-img {
    width: 150px;
    height: auto;
}

h1 {
    color: var(--primary-colour);
    font-size: 2.25rem;
    text-align: center;
}

p {
    text-align: center;
    padding: 1em 0;
}

.btn {
    color: white;
    background-color: var(--primary-colour);
    font-size: 0.875rem;
}
.btn:hover {
    color: #ffb800;
}

select,
.btn {
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

select {
    border: 1px solid #ffb800;
    font-size: 0.875rem;
}

.currency {
    padding: 1em 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.currency input {
    text-align: right;
    font-size: 2em;
    background: transparent;
    width: 50%;
    border-radius: 5px;
}

.currency input:focus {
    background: white;
}

.swap-rate-container {
    width: 100%;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate {
    font-size: 0.875rem;
    padding: 0.5em 0.5em;
    background-color: lightgreen;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}
